{{template "header".}}
      <title>分类 - 我的 beego 博客</title>
    </head>
    <body style="padding-top: 70px">
    {{$isLogin:=.IsLogin}}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {{template "navbar".}}
            </div>
        </div>

        <div class="container">
            <div class="page-header">
                <h1>
                   <b>主题列表</b>
                </h1>
            </div>
            {{if $isLogin}}
            <form method="post" action="/category">
                <div class="form-group">
                    <label>分类名称</label>
                    <input id="name" class="form-control" placeholder="enter account" name="name" autocomplete="off">
                </div>
                <input type="hidden" name="op" value="add">
                <button type="submit" class="btn btn-info" onclick="return checkInput()">
                    <span class="glyphicon glyphicon-plus"></span> 添加主题</button>
            </form>
            <script type="text/javascript">
                function checkInput() {
                    var uname=document.getElementById("name")
                    if(uname.value.length==0){
                        alert("请输入分类名称")
                        return false
                    }
                    return true
                }
            </script>
            {{end}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>文章数</th>
                        {{if $isLogin}}
                        <th>操作</th>
                        {{end}}
                    </tr>
                </thead>
                <tbody>
                    {{range .Categories}}
                    <tr>
                        <th>{{.Title}}</th>
                        <th>{{.TopicCount}}</th>
                        {{if $isLogin}}
                        <th>
                            <a href="/category?op=del&id={{.Id}}"><span class="btn btn-warning btn-xs">删除</span></a>
                        </th>
                        {{end}}
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>


    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"/>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>