{{template "header".}}
<title>首页 - 我的 beego 博客</title>
</head>
<body style="padding-top: 70px">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navbar".}}
    </div>
</div>

<div class="container">
    <div class="col-md-9 col-sm-9 col-xs-9">
        {{range .Topics}}
        <div class="page-header">
            <h6 class="text-muted">文章发表于 {{dateformat .Created "2006-01-02 15:04:05"}}</h6 class="text-muted">
            <div class="home_title">
                <h1><a href="/topic/view/{{.Id}}"><b>{{.Title}}</b></a></h1>
            </div>
            <h6 class="text-muted">
                <span class="glyphicon glyphicon-eye-open" style="margin-right: 5px;"></span>{{.Views}}
                <span class="glyphicon glyphicon-comment" style="margin-right: 5px;"></span>{{.ReplyCount}}
            </h6>
            <p>
                {{str2html .Content}}
            </p>
        </div>
        {{end}}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <h1>文章分类</h1>
        <ul>
            {{range .Categories}}
            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>


</div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>