{{template "header".}}
      <title>文章 - 我的 beego 博客</title>
    </head>
    <body style="padding-top: 70px">
    {{$isLogin:=.IsLogin}}

    {{template "navbar".}}

            <div class="container">
                <div class="page-header">
                    <h1>
                        <b>文章列表</b>
                    </h1>
                </div>
                {{if $isLogin}}
                <a href="/topic/add" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus"></span> 添加文章
                </a>
                {{end}}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:40%;">文章名称</th>
                            <th style="width:20%;">最后更新</th>
                            <th style="width:5%;">浏览</th>
                            <th style="width:5%;">回复</th>
                            <th style="width:20%;">最后回复</th>
                            {{if $isLogin}}
                            <th style="width:10%;">操作</th>
                            {{end}}
                        </tr>
                    </thead>

                    <tbody>
                        {{range .Topics}}
                        <tr>
                            <!--<th>{{.Id}}</th>-->
                            <th><a href="/topic/view/{{.Id}}">{{.Title}}</a></th>
                            <th>{{dateformat .Updated "2006-01-02 15:04:05"}}</th>
                            <th>{{.Views}}</th>
                            <th>{{.ReplyCount}}</th>
                            <th>{{dateformat .ReplyTime "2006-01-02 15:04:05"}}</th>
                            {{if $isLogin}}
                            <th>
                                <span class="btn btn-info btn-xs">
                                    <a class="option" href="/topic/modify?tid={{.Id}}">修改</a>
                                </span>
                                <span class="btn btn-warning btn-xs">
                                    <a class="option" href="/topic/delete/{{.Id}}?category={{.Category}}">删除</a>
                                </span>
                            </th>
                            {{end}}
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>


    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>