{{template "header".}}
<title>{{.Topic.Title}} - 我的 beego 博客</title>
</head>
<body style="padding-top: 70px">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navbar".}}
    </div>
</div>

<div class="container">
    {{$label:=.Label}}
    <!--标题+编辑位置-->
    <div class="row">
        <div class="h1 topic_title">
            {{.Topic.Title}}
            <div class="pull-right">
                <a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改文章</a>
            </div>
        </div>
    </div>

    <!--事件栏位-->
    <div class="row">
        <div class="pull-left"><p>{{dateformat .Topic.Updated "2006-01-02 15:04:05"}}</p></div>
    </div>

    <!--分类栏位-->
    <div class="row">
        <span class="glyphicon glyphicon-th-large"></span>
        <span class="label label-primary">{{.Topic.Category}}</span>
    </div>

    <!--标签栏位-->
    <div class="row">
        <div class="pull-left">
            <h5>
                <span class="glyphicon glyphicon-tag"></span>
                {{range $label}}
                <span class="label label-success"><a href="/?label={{.}}">{{.}}</a></span>
                {{end}}
            </h5>
        </div>
    </div>


    <hr>


    {{str2html .Topic.Content}}

    <hr>

    <h5>文章附件：<a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a></h5>
</div>

<div class="container">
    {{$tid:=.Topic.Id}}
    {{$isLogin:=.IsLogin}}
    {{range .Replies}}
    <h3>{{.Name}}
        <small>{{.Created}}</small>
        {{if $isLogin}}<a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">删除</a>{{end}}
    </h3>
    {{.Content}}
    {{end}}
    <h3>本文回复</h3>
    <form method="post" action="/reply/add">
        <input type="hidden" name="tid" value="{{.Topic.Id}}">
        <div class="form-group">
            <label>显示昵称：</label>
            <input type="text" class="form-control" name="nickname">
        </div>

        <div class="form-group">
            <label>内容：</label>
            <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button class="btn btn-default">提交回复</button>
    </form>
</div>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>