{{template "header".}}
<!-- Include Quill stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/topic-add-css.css">
<title>添加文章 - 我的 beego 博客</title>
</head>

<body style="padding-top: 70px">
{{template "navbar".}}

<div class="container form-container">
    <form class="form-container" method="post" action="/topic" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="title">主题 <span class="glyphicon glyphicon-th-large"></span></label>
                    <select class="btn btn-default category-topic-add" name="category">
                        {{range .Categories}}
                        <option>{{.Title}}</option>
                        {{end}}
                        <option><a href="#">新增类别</a></option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <!--<label class="title">文章标签</label>-->
                    <input type="text" name="label" class="form-control label-topic-add" placeholder="文章标签">
                </div>
            </div>
            <div class="col-xs-4">
                <button id="submit" type="submit" class="btn pull-right btn-default submit-topic-add">
                    <span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="title" class="form-control title-topic-add">
        </div>





        <div class="form-group hidden">
            <label class="title">文章附件</label>
            <input type="file" name="attachment" class="form-control attachment-topic-add">
        </div>


        <textarea class="edit-topic-add" rows="3" name="content"></textarea>


    </form>
</div>


</div>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>