{{template "header".}}
<title>{{.Topic.Title}} - 我的 beego 博客</title>
</head>
<body style="padding-top: 70px">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navbar".}}
    </div>
</div>

<div class="container">
    {{$label:=.Label}}
    <!--标题+编辑位置-->
        <div class="h1 topic_title">
            {{.Topic.Title}}
            <div class="pull-right">
                <a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改文章</a>
            </div>
        </div>

    <!--时间栏位-->

        <p>{{dateformat .Topic.Updated "2006-01-02 15:04:05"}}</p>


        <!--分类栏位-->
        <div>
            <span class="glyphicon glyphicon-th-large"></span>
            <a href="/?cate={{.Topic.Category}}">{{.Topic.Category}}</a>
            <span class="glyphicon glyphicon-tag"></span>
            {{range $label}}
            <span class="label label-success"></span>{{.}}
            {{end}}
            <span class="glyphicon glyphicon-eye-open" style="margin-right: 5px;"></span>{{.Topic.Views}}
            <span class="glyphicon glyphicon-comment" style="margin-right: 5px;"></span>{{.Topic.ReplyCount}}
        </div>


    <hr>


    {{str2html .Topic.Content}}

    <h5>文章附件：<a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a></h5>
</div>


<div class="container">
    {{$tid:=.Topic.Id}}
    {{$isLogin:=.IsLogin}}
    {{range .Replies}}
    <hr>
    <!--评论时间-->
    <div>
        <small>{{dateformat .Created "2006-01-02 15:04:05"}}</small>
    </div>
    <!--昵称-->
    <div>
        <div>
            <div class="h3">{{.Name}}</div>
            {{if $isLogin}}
            <a href="/reply/delete?tid={{$tid}}&rid={{.Id}}" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            {{end}}
        </div>
    </div>


    <!--评论内容-->
    <div>
        {{.Content}}
    </div>
    {{end}}
    <!--如果已经登陆那么就显示评论界面，-->
    <div class="container topic_comment">
        {{if .IsLogin}}
        <h3>本文回复</h3>
        <form method="post" action="/reply/add">
            <input type="hidden" name="tid" value="{{.Topic.Id}}">
            <div class="form-group">
                <label>显示昵称：</label>
                <input type="text" class="form-control" name="nickname">
            </div>

            <div class="form-group">
                <label>内容：</label>
                <textarea name="content" id="" cols="30" rows="2" class="form-control"></textarea>
            </div>
            <button class="btn btn-default">提交回复</button>
        </form>
        {{else}}
        <pre>
            <div class="topic_comment_login">
                <a class="btn btn-warning" href="/login">登陆</a> 后发表评论
            </div>
        </pre>
        {{end}}
    </div>

</div>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/core.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>