/*这里是描素login界面的样式表*/

.login_container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}


.login_form{
    background-color: #ffffff;
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #555;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
}

.login_form button{
    width: 30%;
}