body {
    padding-top: 70px;
}

a {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration-color: #333333;
}

.home_title {
    margin: -7px 0 4px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

/*设置表格中的操作元素颜色样式*/
.option {
    color: white;
}

.option:hover {
    color: #0f0f0f;
}

/*设置所有的表格中的元素居中*/
th {
    text-align: center;
}

/*文章样式*/
.topic_title {
    margin-bottom: 30px;
}

#editor {
    height: 300px;
}

.topic_comment {
    margin-top: 30px;
}

.topic_comment_login {
    text-align: center;
}